body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.btn-modern{
    border:none ;
    background-color: rgb(237, 233, 233);
    transition: transform 0.4s;
}

.btn-modern:hover{
    background-color: rgb(205, 203, 203);
    color: aliceblue;
    box-shadow: 10px;
    border: 5px;
    border-bottom:2px solid rgb(133, 162, 162);
    border-right:2px solid rgb(133, 162, 162);
    border-left: none;
    border-top: none;
    transform: translateY(-5px);

}